.transaction-form{
    .title{
        font-weight: 600;
        font-size: 1.2rem;
        margin: 1rem 0 0.5rem 0;
    }
    .subtitle{
        font-weight: 500;
        font-size: 1.1rem;
    }
    input, select {
        width: 100%;
        margin: 0.5rem 0;
        &.err{
            border: 1px solid red;
        }
    }
    .grid-2, .grid-3 {
        display: grid;
        grid-template-columns: 50% auto;
        column-gap: 1rem;
    }
    .grid-3 {
        grid-template-columns: auto auto auto;
    }
    input[type=checkbox] {
        width: auto;
    }
    .control{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    .label{
        margin-top: 0.5rem;
        font-weight: 600;
    }
}