.agent{
    padding: 1rem;
    border-radius: 1rem;
    // max-width: 55rem;
    border: 1px solid #ccc;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    .agent-img {
        margin: 1rem;
        img{
            border-radius: 50%;
            height: 150px;
        }
    }
    .agent-body {
        // display: flex;
        // gap: 1rem;
        // align-items: center;
        width: 80%;
        flex: auto;
        padding: 1rem;
        .agent-name {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 2rem;
            display: block;
            .info{
                font-size: 1rem;
                color: #aaa;
                border-left: 1px solid #aaa;
                padding-left: 0.5rem;
            }
        }
        .agent-stat{
            display: grid;
            grid-template-columns: minmax(10rem,auto) 4rem 4rem;
            align-items: center;
            justify-content: space-between;
            // justify-content: center;
            row-gap: 0.5rem;
            column-gap: 2rem;
            .span-1{
                grid-column: 2 / 3;
            }
            .label {
                font-weight: 500;
            }
        }
    }
    
    .agent-control {
        max-width: 10rem;
        .connect{
            margin-right: 1rem;
            .button{
                font-size: 0.8rem;
                padding: 0.5rem 1.5rem;
                text-align: center;
                border-radius: 0.75rem;
                border: 1px solid var(--blue-color);
                cursor: pointer;
                display: flex;
                justify-content: center;
                user-select: none;
                font-weight: 500;
                color: var(--blue-color);
            }
        }
    }
}

@media(max-width: 770px){
    .agent {
        flex-direction: column;
        .agent-body {
            .agent-stat{
                grid-template-columns: 6rem 3rem 2rem;
                font-size: 0.9rem;
                column-gap: 1rem;
            }
        }
    }
}