.list{
    min-height: 90vh;
    width: 100%;
    position: relative;
    .info, .error {
        padding: 5rem 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: #aaa;
        text-align: center;
    }
    .error{
        color: red;
    }
}