.about {
    textarea {
        border-radius: 0.5rem;
        background: #eee;
        border: 1px solid #ccc;
        width: 100%;
        resize: none;
        padding: 0.5rem;
    }
    .reverse{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
    }
    .btn{
        font-size: 1.1rem;
        font-weight: 700;
        color: #fff;
        background-color: var(--green);
        cursor: pointer;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        &:hover {
            opacity: .9;
        }
    }
}

@media(max-width: 480px){
    .about{
        .btn, select {
            width: 100%;
        }
    }
}
