  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
    top: -2px;
    position: relative;
    margin: 0 2px;
  }
  .Rate {
    cursor: default;
  }
  .Rate__star {
    color: #dedbdb;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    background: transparent none;
    border: 0;
  }
  .Rate__star .icon {
    top: 0;
    vertical-align: middle;
  }
  .Rate__star.hover {
    color: var(--rate-green);
  }
  .Rate__star.filled {
    color: var(--rate-green);
  }
  .Rate__star:hover,
  .Rate__star:focus {
    text-decoration: none;
  }
  .Rate__view .count,
  .Rate__view .desc {
    display: inline-block;
    vertical-align: middle;
    padding: 7px;
  }
  .Rate.has-error .Rate__star {
    color: #f37a77;
  }
  .Rate.has-error .Rate__star.hover {
    color: var(--rate-green);
  }
  .Rate.has-error .Rate__star.filled {
    color: var(--rate-green);
  }
  .Rate__star[disabled] {
    opacity: 0.8;
  }
  .Rate__star.hover[disabled],
  .Rate__star.filled[disabled] {
    color: var(--rate-green);
    opacity: 0.6;
  }
  .Rate__view.disabled .count,
  .Rate__view.disabled .desc {
    color: #ccc;
  }