.login-form {
    padding: 2rem 1rem;
    .input {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .btn{
        margin: 1rem 0;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        color: var(--blue-color);
        padding: 0.5rem 1rem;
        border: 1px solid #B7E9F7;
        background-color: #DBF3FA;
        cursor: pointer;
        &:hover {
            background-color: var(--blue-color);
            color: #DBF3FA;
        }
        &.submitting{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    .error, .info{
        padding: 1rem 0;
        font-size: 1rem;    
        font-weight: 500;
        text-align: center;
    }
    .info {
        color: #aaa;
    }
}